<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
  <h1>Welcome to the Blog</h1>
</header>
  <nav >
    <br> <br>
    <a href="/auth">Author Home Page</a> <!-- Update this link -->
    <br> <br> <br> <br>
    <a href="/reader">Reader Home Page</a>
  </nav>
</body>
</html>
